@using PagedList;

@using PagedList.Mvc;

@model IPagedList<PM.Models.project>

@*
    @model IEnumerable<PM.Models.project>
*@

@if (ViewBag.deleteProjectSuccess != null)
{
<script>alert("@ViewBag.deleteProjectSuccess");</script>
}
@if (ViewBag.updateProjectSuccess != null)
{
<script>alert("@ViewBag.updateProjectSuccess");</script>
}
@{ Layout = "~/Views/Shared/new_layout.cshtml"; }
<div class="container" data-layout="container">


    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3">

            <h4>قائمة المشاريع</h4>

            <p>
                @Html.ActionLink("اضافة مشروع", "add_project")
            </p>
            <input type="text" id="search" placeholder="بحث" class="form-control" />
            <table class="table">
                <tr>
                    <th>
                        اسم المشروع
                    </th>
                    <th>
                        من
                    </th>
                    <th>
                        الى
                    </th>
                    <th>
                        التفاصيل
                    </th>
                    <th>
                        التكلفة
                    </th>
                    <th>
                        الهيئة الطبية
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
    <tr class="search">
        <td>
            @Html.DisplayFor(modelItem => item.projectname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enddatte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.institute.institutename)
        </td>
        <td>
            @Html.ActionLink("تعديل", "edit_project", new { id = item.project_id }) |
            @Html.ActionLink("مسح", "delete_project", new { id = item.project_id })
        </td>
    </tr>}

            </table>
            @Html.PagedListPager(Model, pageNumber => Url.Action("project_panel", new
            {
                pageNumber
            }))

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@* a script for live search at client side*@
<script>
    $(document).ready(function () {
        function contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $('#search').keyup(function () {
            var searchText = $("#search").val().toLowerCase();
            $(".search").each(function () {
                if (!contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
