@model PM.Models.institute_address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>institute_address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city.cityname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.cityname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.governmnet.governmentname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.governmnet.governmentname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.station.stationname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.station.stationname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.institute_adress_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
