@model PM.Models.institute_address

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>institute_address</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.institute_adress_id)

        <div class="form-group">
            @Html.LabelFor(model => model.governmnetcode, "governmnetcode",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("governmnetcode", null, "Select governmnet name", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.governmnetcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.citycode, "citycode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("citycode", null, "Select city name" ,  htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.citycode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stationcode, "stationcode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("stationcode", null, "Select station name", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.stationcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index" , "Institutes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
