@model IEnumerable<PM.Models.institute_address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.city.cityname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.governmnet.governmentname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.station.stationname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.city.cityname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.governmnet.governmentname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.station.stationname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.institute_adress_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.institute_adress_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.institute_adress_id })
        </td>
    </tr>
}

</table>
